@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-background: #f8f5e4;
    --secondary-background: #343A40;
    --primary-text: #000000;
    --secondary-text: #f8f5dd;
}
  
* {
    padding: 0;
    margin: 0;
    gap: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-background);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    position: relative;
}

.oswald-400 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.oswald-300 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.oswald-200 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}

#intro {
    height: 100vh;
    display: flex;
}

#nav-bar {
    width: 36%;
    height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#logo {
    height: 75px;
    width: auto;
    cursor: pointer;
}

#nav-bar ul {
    margin-left: 3%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#nav-bar a {
    color: var(--primary-text);
}

.underline-anim {
    position: relative;
    color: black;
    text-decoration: none;
    transform: translateX(-50px);
    opacity: 0; 
    font-size: 19px;
}

.underline-anim::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: width 0.5s ease, left 0.5s ease;
}

.underline-anim:hover::after {
    width: 100%;
    left: 0;
}

.project-img {
    height: 150px;
    position: absolute; 
    width: auto;
    filter: grayscale(100%) brightness(70%);
    transition: filter 500ms ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.project-overview {
    position: absolute;
    background-color: rgba(52, 58, 64, 0.9);
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    z-index: 0;
    display: flex;
    border: none;
    border-radius: 2px;
}

.project-overview > div {
    height: 90%;
    width: 280px;
    position: absolute;
}

.project-overview > div > p {
    cursor: default;
    color: var(--secondary-text);
}

.limit-lines {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
}

#about {
    height: max-content;
}

#about-header {
    transform: translateX(-50px);
    opacity: 0; 
    transition: opacity 300ms ease;
    font-size: 25px;
    position: absolute;
    top: 3.75%;
    left: 5%;
}

#about > .milestone-container {
    width: 92.5%;
    color: var(--secondary-background);
    display: grid;
    height: auto;
}

#first-milestones {
    padding: 7.5% 2.5% 2.5% 5%;
    grid-template-columns: 1.25fr 0.75fr;
}

#second-milestones {
    padding: 2.5% 2.5% 5% 5%;
    grid-template-columns: 0.75fr 1.25fr;
}

#about ul {
    position: relative;
    list-style: none;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}

#about li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms ease, transform 500ms ease;
    width: 100%;
    height: auto;
}

#about > div > ul > li > h1 {
    font-size: 21px;
}

#about h2 {
    font-style: italic;
}

#about p, #about h2 {
    font-size: 19px;
}

#projects {
    display: flex;
    height: 90vh;
    width: 90%;
    padding: 5%;
}

#projects-header {
    transform: translateX(-50px);
    opacity: 0; 
    transition: opacity 300ms ease;
    font-size: 25px;
    position: absolute;
    top: 3.75%;
    left: 5%;
}

.slide-in {
    animation: slideIn 1s forwards; 
}

.fade-in {
    animation: fadeIn 1500ms forwards; 
}

@keyframes slideIn {
    from {
        transform: translateX(-75px); 
        opacity: 0;
    }
    to {
        transform: translateX(0); 
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
